.item {
margin-bottom: 10px;
}

.item {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.item:first-child {
	border: none;
}

.item.active {
	color: #29c5e6;
}

.item a {
	color: #8f8f8f;
}
